popl2015.pdf
CoLoSL.pdf
*.aux
*.tex~
*.aux
*.log
*.blb
*.bbl
*.backup
*.blg
*.out
*.*~
*.gz

CoLoSL-POPL2015/Sections/FurtherExamples/Images/popl2015.graffle/image1.pdf

CoLoSL-POPL2015/Sections/FurtherExamples/Images/popl2015-2.graffle/image1.pdf

CoLoSL-POPL2015/Sections/FurtherExamples/Images/popl2015-2.graffle/data.plist

CoLoSL-POPL2015/Sections/FurtherExamples/Images/popl2015.graffle/data.plist

CoLoSL-POPL2015/OdeToQ/OdeToQ.pdf

CoLoSL-POPL2015/popl2015.dvi

*.gz(busy)
CoLoSL-CONCUR/concur.tex.pdf
CoLoSL-CONCUR/concur.pdf
CoLoSL-TechnicalDetails/Sections/Appendix/lemmata/waste.tex
CoLoSL-TechnicalDetails/Sections/Examples/waste.tex
CoLoSL-TechnicalDetails/CoLoSL-TR.pdf
*.bak
*.toc
CoLoSL-TechnicalDetails-Simplified/Sections/Appendix/lemmata/waste.tex
CoLoSL-TechnicalDetails-Simplified/CoLoSL-TR.pdf
CoLoSL-ESOP2015/esop2015.pdf
CoLoSL-ESOP2015/typeinst/typeinst.pdf
CoLoSL-ESOP2015/llncs2e (1)/aliascnt.sty
CoLoSL-ESOP2015/llncs2e (1)/llncs.cls
CoLoSL-ESOP2015/llncs2e (1)/llncs.doc
CoLoSL-ESOP2015/llncs2e (1)/llncs.dem
CoLoSL-ESOP2015/llncs2e (1)/llncs.dvi
CoLoSL-ESOP2015/llncs2e (1)/llncs.ind
CoLoSL-ESOP2015/llncs2e (1)/llncsdoc.pdf
CoLoSL-ESOP2015/llncs2e (1)/llncsdoc.sty
CoLoSL-ESOP2015/llncs2e (1)/remreset.sty
CoLoSL-ESOP2015/llncs2e (1)/splncs03.bst
CoLoSL-ESOP2015/llncs2e (1)/sprmindx.sty
CoLoSL-ESOP2015/llncs2e (1)/subjidx.ind
CoLoSL-ESOP2015/typeinst/eijkel2.eps
CoLoSL-ESOP2015/typeinst/typeinst.tex
CoLoSL-TechnicalDetails-Simplified/azalea (copy).sty
CoLoSL-TechnicalDetails-Simplified/tcolorbox.sty
CoLoSL-ESOP2015/Sections/Logic/logic-merged.tex
CoLoSL-ESOP2015/Sections/Logic/logic-short.tex
CoLoSL-ESOP2015/Sections/Assertions/logic-merged.tex
CoLoSL-ESOP2015/Sections/Assertions/logic-short.tex
CoLoSL-ESOP2015/Sections/Model/model - Copy (2).tex
CoLoSL-TechnicalDetails-Simplified/Sections/Backup/Introduction - Copy/introduction.tex
CoLoSL-TechnicalDetails-Simplified/Sections/Backup/Intuition - Copy/intuition.tex
